{% extends "includes/main.html" %}
{% load static custom_filters %}
{% block title %}Error 403{% endblock %}
{% block titulo-pagina %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block menu-adicional %}{% endblock %}
{% block content %}
    <div class="error-page align-items-center">
        <h2 class="headline text-info">403</h2>
        <div class="error-content">
            <h3>
                <i class="fas fa-lock text-info"></i>
                No tiene permisos para esta acción
            </h3>
            <p>
                Su usuario no tiene los permisos necesarios para ver esta página o realizar la acción. Si cree que se trata de un error, comuníquese con el administrador del sistema.
            </p>
            <p class="mt-2">
                Mientras tanto, puede
                <a href="{% url 'core:inicio' %}">volver al inicio</a>
                o intentar usar el buscador de menú.
            </p>
        </div>
    </div>
{% endblock content %}
